<div style="text-align: center">
  <h1>Hi #Latency2020 Container Workshop!</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <p style="font-style: italic">This is version <strong>2</strong> of the app!</p>
  <h3>Howdy!</h3>
</div>
